[Desktop Entry]
Name=OpenJDK Java-git Runtime
Name[fi]=OpenJDK Java-git - ajonaikainen ympäristö
Comment=OpenJDK Java-git Runtime
Comment[fi]=OpenJDK Java-git - ajonaikainen ympäristö
Keywords=java;runtime
Exec=/usr/lib/jvm/java-git-openjdk/bin/java -jar
Terminal=false
Type=Application
Icon=java14-openjdk
MimeType=application/x-java-archive;application/java-archive;application/x-jar;
NoDisplay=true
